<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="hu.bme.mit.inf.alf.uppaal.integration.alftouppaaltransformation"
            name="AlfToUppaal">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <command
               commandId="hu.bme.mit.inf.alf.uppaal.integration.alftouppaaltransformation"
               label="AlfToUppaal"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="alf">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="hu.bme.mit.inf.alf.uppaal.integration.CommandHandler"
            commandId="hu.bme.mit.inf.alf.uppaal.integration.alftouppaaltransformation">
         <enabledWhen>
            <with
                  variable="activeMenuSelection">
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="alf">
                     </test>
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
